:root {
  --vp-c-brand-1: #1C8AD9;
  --vp-c-brand-light: #1C8AD9;
  --vp-c-brand-dark: #1C8AD9;
  --vp-button-brand-bg: #1C8AD9;
  --vp-button-brand-hover-border: #1C8AD9;
  --vp-button-brand-active-border: #1C8AD9;
  --vp-button-brand-border: #1C8AD9;
  --vp-button-brand-active-bg: #1C8AD9;
}