:root {
  --vp-c-brand-1: #1d4ed8;
  --vp-c-brand-light: #1d4ed8;
  --vp-c-brand-dark: #1d4ed8;
  --vp-button-brand-bg: #1d4ed8;
  --vp-button-brand-hover-border: #1d4ed8;
  --vp-button-brand-active-border: #1d4ed8;
  --vp-button-brand-border: #1d4ed8;
  --vp-button-brand-active-bg: #1d4ed8;
}